---
layout: page
title: 进击的马斯特
tagline: Go Fighting! Master!
---

{% for post in paginator.posts %}
<div class="post-wrapper">
  <h2 class="h2 entry-title">
    <a href="{{ post.url }}">{{ post.title }}</a>
  </h2>
  <div class="entry-meta">
      更新: <span>{{ post.date | date:"%Y-%m-%d" }}</span> &nbsp; | &nbsp;
      作者: <span><a href="http://pinkyjie.github.io">马斯特</a></span>
  </div>
  <br /><br />
  <div class="entry">
    {{ post.content | split: '<!--more-->' | first }}
    <p>
      <a href="{{ post.url }}/#more" class="more-link btn">
        <span class="readmore">阅读全文 &raquo;</span>
      </a>
    </p>
  </div>
</div>
<br />
{% endfor %}

<!-- Pagination links -->
<div class="pagination pagination-centered">
  <hr />
  <ul>
    <li class="disabled"><span>{% paginator.page %} / {% paginator.total_pages %}</span></li>
    <li><a href="/">&laquo;</a></li>
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <li><a href="/" class="current">&lt;</a></li>
      {% else %}
        <li><a href="/page{{paginator.previous_page}}/">&lt;</a></li>
      {% endif %}
    {% else %}
      <li class="disabled"><span>&lt;</span></li>
    {% endif %}
    {% for count in (2..paginator.total_pages) limit:6 %}
      {% if count == paginator.page %}
        <li class="active"><span>{{count}}</span></li>
      {% else %}
        <li><a href="/page{{count}}/">{{count}}</a></li>
      {% endif %}
    {% endfor %}
    {% if paginator.next_page %}
      <li><a href="/page{{paginator.next_page}}/">&gt;</a></li>
    {% else %}
      <li class="disabled"><span>&gt;</span></li>
    {% endif %}
    <li><a href="/page{{paginator.total_pages}}/">&raquo;</a></li>
  </ul>
</div>
<br />
<br />

